In [1]:
import re

## 句点（.）被称为通配符，匹配除了换行符之外的所有字符

In [2]:
atRegex = re.compile('.at')
atRegex.findall('The cat in the hat sat on the flat mat.')

['cat', 'hat', 'sat', 'lat', 'mat']

### 注意句点（.）只匹配一个字符，所以上例中 flat 没有被匹配出，只匹配了 lat

### 用点-星 (.*) 组合匹配所有字符

In [5]:
nameRegex = re.compile('First Name: (.*) Last Name: (.*)')
mo = nameRegex.search('First Name: Peter Last Name: Smith')
mo.groups()

('Peter', 'Smith')

### 通过传入 re.DOTALL 作为 compile() 的第二个参数，可以让句点匹配所有字符，包括换行符

In [18]:
sql = r'''
SELECT FirstName, LastName, Department  
FROM HumanResources.vEmployeeDepartmentHistory  
WHERE FirstName = @FirstName AND LastName = @LastName  
AND EndDate IS NULL;
'''

sql

'\nSELECT FirstName, LastName, Department  \nFROM HumanResources.vEmployeeDepartmentHistory  \nWHERE FirstName = @FirstName AND LastName = @LastName  \nAND EndDate IS NULL;\n'

### FROM 前面有一个 \n，因此不能被匹配出

In [ ]:
sqlRegex = re.compile('SELECT (.*)FROM')
mo = sqlRegex.search(sql)
mo

### 传入 re.DOTALL 作为 compile() 的第二个参数，则句点可以匹配 FROM 前面的 \n

In [16]:
sqlRegexALL = re.compile('SELECT (.*)FROM', re.DOTALL)
mo = sqlRegexALL.search(sql)
mo.group()

'SELECT FirstName, LastName, Department  \nFROM'

### 通过传入 re.IGNORECASE 或 re.I 作为 compile() 的第二个参数，可以忽略大小写

In [22]:
sqlIgnoreCase = re.compile('select', re.I)
sqlIgnoreCase.search(sql).group()

'SELECT'

### 用 sub()  替换匹配上的字符串

In [24]:
namereg = re.compile(r'Agent \w+')

s = 'Agent Alice gave the secret documents to Agent Bob'
print(s)
namereg.sub('CENCORED', s)

Agent Alice gave the secret documents to Agent Bob

'CENCORED gave the secret documents to CENCORED'

### 在 sub() 的第一个参数中可以输入\1、\2、\3 表示替换第几个分组的文本

#### 如过要只保留密探的名字的首字母，隐去名字的剩余部分，可以对姓名做分组(\w)\w+，()中只有一个字符，表示首字母，后面表示首字母后面的字符

In [32]:
namereg2 = re.compile(r'Agent (\w)\w+')

s = 'Agent Fransisco gave the secret documents to Agent Bob'
namereg2.sub(r'\1*****', s)

'F***** gave the secret documents to B*****'